html {
    height: 100%;
    width: 100%;
    background-color: rgb(209, 207, 207);
}
* {
    margin: 0;
    box-sizing: border-box;
}
.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}
p {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.25rem;
}
image {
    width: 100%;
}
a {
    text-decoration: none;
    display:inline-block;
    color: #333;
}
ul {
    list-style: none;
}
.container {
    width: 1170;
    margin: auto;
    padding-top: 50px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.grid__item {
    width: 295px;
    margin-bottom: 25px;
}
.card {
    height: 100%;
    padding: 20px;
    border: solid 1px #928a8a;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(199, 184, 184, 0.795);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.card__image {
    display: block;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
img {
    width: 100%;
    display: block;
    height: 100%;
}
.card__title {
    font-size: 20px;
    margin-bottom: 20px;
}
.card__date {
    margin-top: auto;
    font-size: 18px;
    color: #666;
}
.card:hover {
    transform: scale(1.1);
}
@media (min-width: 480px) {
    .container {
        width: 90%;
    }
    .grid__item {
        flex-basis: 50%;
    }
}
@media (min-width: 768px) {
    .grid__item {
        flex-basis: 45%;
        justify-content: center;
    }
}
@media (min-width: 1024px) {
    .container {
        width: 80%;
    }
    .grid__item {
        flex-basis: 30%;
    }
}
@media (min-width: 1280px) {
    .grid__item {
        flex-basis: 25%;
    }
}
@media (min-width: 1600px) {
    .container {
        width: 70%;
    }
    .grid__item {
        flex-basis: 23%;
    }
}